<p>
  <strong>first_name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>middle_name:</strong>
  <%= @user.middle_name %>
</p>

<p>
  <strong>last_name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>login:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>employee_id:</strong>
  <%= @user.employee_id %>
</p>

<p>
  <strong>date_of_birth:</strong>
  <%= @user.date_of_birth %>
</p>

<p>
  <strong>gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>time_zone:</strong>
  <%= @user.time_zone %>
</p>

<p>
  <strong>designation_id:</strong>
  <%= @user.designation.designation_name %>
</p>

<p>
  <strong>date_of_joining:</strong>
  <%= @user.date_of_joining %>
</p>

<p>
  <strong>is_locked:</strong>
  <%= @user.is_locked %>
</p>

<p>
  <strong>is_active:</strong>
  <%= @user.is_active %>
</p>

<p>
  <strong>education:</strong>
  <%= @user.education %>
</p>

<p>
  <strong>comments:</strong>
  <%= @user.comments %>
</p>

<p>
  <strong>date_of_deactivation:</strong>
  <%= @user.date_of_deactivation %>
</p>

<p>
  <strong>reason_for_deactivation:</strong>
  <%= @user.reason_for_deactivation %>
</p>

<p>
  <strong>work_phone:</strong>
  <%= @user.work_phone %>
</p>


